<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="div-body">
  <div class="div-logo-1">
    Knee
  </div>
  <div class="div-logo-2">
    Patient
  </div>
  <div class="div-scan" padding *ngIf="g.patient == ''">
    <div class="btn-scan" (click)="scanBarCode()">Scan Patient ID</div>
  </div>
  <!-- <div *ngIf="g.patient != ''">
    <div class="knee-caption">Id</div>
    <div class="knee-value">{{ g.pp.id }}</div>
    <div class="knee-caption">Name</div>
    <div class="knee-value">{{ g.pp.name }}</div>
    <div class="knee-caption">Hospital</div>
    <div class="knee-value">{{ g.pp.hospital_name }}</div>
    <div class="knee-sub-value">{{ g.pp.hospital_location }}</div>
    <div class="knee-caption">Surgeon</div>
    <div class="knee-value">{{ g.pp.surgeon }}</div>
  </div> -->
</div>
</ion-content>
