ion-content {
    --background: url("/assets/image/knee2.png")  no-repeat center center / cover;
    // --background-position: 75% 0;
}

.div-scan {
    padding-top: 60vh;
    .btn-scan {
        border-radius: 5px;
        // background-color: var(--ion-color-tertiary);
        // background-color: #C6040C;
        background-color: #164978;
        color: #fff;
        text-align: center;
        padding: 1em;
    }
}

.div-logo-1 {
    text-align: center;
    font-size: 2em;
    font-family: 'Helvetica Neue';
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    margin: 1em 0 0.5em 0;
}

.div-logo-2 {
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Helvetica Neue';
    color: #fff;
}
