<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Tests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="div-body" padding>
    <div class="knee-caption">Id</div>
    <div class="knee-value">{{ g.pp.id }}</div>
    <div class="knee-caption">Name</div>
    <div class="knee-value">{{ g.pp.name }}</div>
  <ul class="ul-test">
    <li class="knee-caption">
      Tests
    </li>
    <li (click)="cstest()">
      30-sec Chair Stand
    </li>
    <li>
      40m Fast-paced Walk
    </li>
    <li>
      Stair Climb
    </li>
    <li>
      Time up & Go
    </li>
    <li>
      6 Minute Walk
    </li>
  </ul>
</div>
</ion-content>
