<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Patient
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <div class="div-body" padding>
    <div class="knee-caption">Id</div>
    <div class="knee-value">{{ g.pp.id }}</div>
    <div class="knee-caption">Name</div>
    <div class="knee-value">{{ g.pp.name }}</div>
    <div class="knee-caption">Hospital</div>
    <div class="knee-value">{{ g.pp.hospital_name }}</div>
    <div class="knee-sub-value">{{ g.pp.hospital_location }}</div>
    <div class="knee-caption">Surgeon</div>
    <div class="knee-value">{{ g.pp.surgeon }}</div>
  </div>

  <!-- <div><h1>Accelerometer Reading</h1></div>
  <div full><h2>Ax: {{ax}}</h2></div>
  <div full><h2>Ay: {{ay}}</h2></div>
  <div full><h2>Az: {{az}}</h2></div>
  <div full><h2>A˚: {{adeg}}˚</h2></div>
  <div full><h2>B˚: {{bdeg}}˚</h2></div>
  <div full><h2>C˚: {{cdeg}}˚</h2></div>
  <div full><h2>Extension: {{extension}}˚</h2></div>
  <div full><h2>Flexion: {{flexion}}˚</h2></div>

  <div full><h2>  Time: {{timestamp | date: 'MMM d, y h:mm:ss a'}}</h2></div>

  <button expand="full" class="btnClass btnStart" (click)="start()"><h2>Start</h2></button>
  <button expand="full" class="btnClass btnStop" (click)="stop()"><h2>Stop</h2></button>
  <button expand="full" class="btnClass" (click)="setExtension()"><h2>Set Extension</h2></button> -->
  
  <!-- <button expand="full" class="btnClass btnStart" *ngIf="!started" (click)="start()"><h2>Start</h2></button>
  <button expand="full" class="btnClass btnStop" *ngIf="started" (click)="stop()"><h2>Stop</h2></button> -->
  <!-- <ion-button expand="full" class="btnClass" (click)="send()"><h2>Send Data</h2></ion-button> -->
</ion-content>
