ion-content {
  --color: #fff;
}

.btnClass {
  // width: 100% !important;
  // height: auto !important;
  border-radius: 5px;
  // padding: 35% 0 !important;
  background-color: var(--ion-color-primary);
  color: #fff;
  text-align: center;
  margin-top: 1em;
}

.btnStart {
  background-color: green;
}

.btnStop {
  background-color: rgb(167, 3, 3);
}

.div-body {
  height: 100%;
  // color: #000;
  // color: var(--ion-color-primary);
  color: #000;
  background-color: #fff;
  opacity: 0.75;
}