ul {
    padding-top: 2em;
}

ul > li {
    padding: 0.125em 0 1em 0;
}

.id, .name {
    display: inline-block;
    padding: 0.5em;
}

.name {
    text-align: right;
}

.btn {
    width: 100% !important;
    height: auto !important;
    border-radius: 5px;
    padding: 1em 0 !important;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 1em;
  }
  
  .btnStart {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 0.5em;
  }
  
  .btnStop {
    background-color: rgb(167, 3, 3);
    color: #fff;
    text-align: center;
    padding: 0.5em;
  }

  .btncounter {
      display: inline-block;
      width: 30%;
      font-size: 5em;
      text-align: center;
  }

  .btn-test {
    font-weight: 600;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background-color: var(--ion-color-primary);
    opacity: 0.85 !important;
    z-index: 1;
    color: #fff;
    text-align: center;

    .btn-test-1 {
        // text-transform: uppercase;
        padding: 1em;
    }

    .btn-test-2 {
        // text-transform: uppercase;
        padding: 1em;
        line-height: 30px;
    }

    .btn-test-3 {
        img {
            padding: 1em;
        }
    }
  }

  .btn-left, .btn-right {
    font-weight: 600;
    display: inline-block;
    width: 47.5%;
    text-align: center;
    // background-color: var(--ion-color-primary);
    background: transparent;
    border: 2px solid var(--ion-color-primary);
    opacity: 0.85 !important;
    color: var(--ion-color-primary);
    padding: 1em 0;
    border-radius: 5px;
    margin: 1em 0;
  }

  .btn-left {
      margin-right: 0.5em;
  }

  .btn-right {
    margin-left: 0.5em;
}

  .li-bottom {
      text-align: center;
  }

  .div-body {
    height: 100%;
    // color: #000;
    // color: var(--ion-color-primary);
    color: #000;
    background-color: #fff;
    opacity: 0.75;
  }