<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class=div-body padding>
    <div class="knee-caption">Id</div>
    <div class="knee-value">{{ g.pp.id }}</div>
    <div class="knee-caption">Name</div>
    <div class="knee-value">{{ g.pp.name }}</div>
  <ul>
    <li *ngIf="step == 0" class="btn-test" (click)="prepareTest()">
      <div class="btn-test-1">
        30 sec Chair Stand Test
      </div>
      <div class="btn-test-2">
        
      </div>
      <div class="btn-test-2">
        {{ msg }}
      </div>
      <div class="btn-test-3">
        
      </div>
    </li>
    <li *ngIf="step == 1" class="btn-test" (click)="sit()">
      <div class="btn-test-1">
        Step 1/3 - Calibration - Sitting
      </div>
      <div class="btn-test-2">
        {{ msg }}
      </div>
      <div class="btn-test-3">
        <img src="../../assets/image/sit.png" height="200">
      </div>
    </li>
    <li *ngIf="step == 2" class="btn-test">
      <div class="btn-test-1">
        Step 2/3 - Calibration - Standing
      </div>
      <div class="btn-test-2">
        {{ msg }}
      </div>
      <div class="btn-test-3">
        <img src="../../assets/image/stand.png" height="200">
      </div>
    </li>
    <li *ngIf="step == 3 && testing == 1" class="btn-test" (click)="startTest()">
      <div class="btn-test-1">
        Step 3/3 - Test - Sit and Stand
      </div>
      <div class="btn-test-2">
        Tap here to begin the test
      </div>
      <div class="btn-test-3">
        <img src="../../assets/image/sit.png" height="200">
        <img src="../../assets/image/stand.png" height="200">
      </div>
    </li>
    <li *ngIf="step == 3 && testing == 2" class="btn-test">
      <div class="btn-test-1">
        Step 3/3 - Test - Sit and Stand
      </div>
      <ul class="ul-cstest">
        <li class="knee-caption msg-center">
          Counter
        </li>
        <li class="center">
          <!-- <div class="btncounter" (click)="decrCounter()">-</div> -->
          <div class="center font-3em btncounter"> {{ counter }}</div>
          <!-- <div class="btncounter" (click)="incrCounter()">+</div> -->
        </li>
        <li class="knee-caption msg-center">
          Timer
        </li>
        <li *ngIf="timevalue < 10" class="msg-center font-2em">
          00:0{{ timevalue }}
        </li>
        <li *ngIf="timevalue >= 10" class="msg-center font-2em">
          00:{{ timevalue }}
        </li>  
      </ul>
    </li>
    <li *ngIf="step == 3 && testing == 2 && timevalue == 0" class="li-bottom">
      <div class="btn-left" (click)="restart()">
        Restart
      </div>
      <div class="btn-right">
        Save
      </div>
    </li>
    <!-- <li>
      Calibration
    </li>
    <li>
      <button expand="full" class="btnClass" (click)="test()">
        <h2>{{ msg }}</h2>
      </button>
    </li>
    <li>
        <div><h1>Accelerometer Reading</h1></div>
        <div full><h2>Ax: {{ax}}</h2></div>
        <div full><h2>Axl: {{axl}}  Axh: {{axh}}</h2></div>
        <div full><h2>Ay: {{ay}}</h2></div>
        <div full><h2>Ayl: {{ayl}}  Ayh: {{ayh}}</h2></div>
        
        <div full><h2>XLi: {{g.xli}}  XHi: {{g.xhi}}</h2></div>
        <div full><h2>YLi: {{g.yli}}  YHi: {{g.yhi}}</h2></div>
        
        <div full><h2>XLa: {{g.xla}}  XHa: {{g.xha}}</h2></div>
        <div full><h2>YLa: {{g.yla}}  YHa: {{g.yha}}</h2></div> -->

        <!-- <div full><h2>Az: {{az}}</h2></div>
        <div full><h2>A˚: {{adeg}}˚</h2></div>
        <div full><h2>B˚: {{bdeg}}˚</h2></div>
        <div full><h2>C˚: {{cdeg}}˚</h2></div>
        <div full><h2>Extension: {{extension}}˚</h2></div>
        <div full><h2>Flexion: {{flexion}}˚</h2></div> -->
      
        <!-- <div full><h2>  Time: {{timestamp | date: 'MMM d, y h:mm:ss a'}}</h2></div> -->
      
        <!-- <button expand="full" class="btnClass btnStart" (click)="start()"><h2>Start</h2></button>
        <button expand="full" class="btnClass btnStop" (click)="stop()"><h2>Stop</h2></button>
        <button expand="full" class="btnClass btnStop" (click)="setvalue()"><h2>SET VALUE</h2></button> -->
        <!-- <button expand="full" class="btnClass" (click)="sit()">
          <h3>{{ msgSit }}</h3>
          <h1>Sit</h1>
        </button>
        <button expand="full" class="btnClass" (click)="stand()"><h2>Stand</h2></button> -->
        <!-- <button expand="full" class="btnClass" (click)="setExtension()"><h2>Set Extension</h2></button> -->
    <!-- </li> -->
  </ul>
  <!-- <ul class="ul-cstest">
    <li class="knee-caption msg-center">
      Timer
    </li>
    <li class="msg-center font-3em">
      {{ timevalue }}
    </li>
    <li class="knee-caption msg-center">
      Counter
    </li>
    <li class="center">
      <div class="btncounter" (click)="decrCounter()">-</div>
      <div class="center font-3em btncounter"> {{ counter }}</div>
      <div class="btncounter" (click)="incrCounter()">+</div>
    </li>
  </ul>
  <div *ngIf="started == false" class="btn btnStart" (click)="startTest()">
    START
  </div>
  <div *ngIf="started == true" class="btn btnStop" (click)="stopTest()">
    STOP
  </div> -->
</div>
</ion-content>
